@import "../css/fonts.css";
@import "../css/scrollbar.css";


body {
    margin: 0;
    font-family: firasans;
    font-weight: 400;
    font-style: normal;
    background-color: #fdfdfd;
    min-width: 1024px;
}

address {
    font-style: normal;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
.no-focus {
  outline: none;
}

h3 {
    margin-top: 30px;
    font-size: 18px;
}

h4 {
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 30px;
}

header {
    padding: 5px 10vw 5px 10vw;
    background-color: #333e4b;
    color: white;
    font-size: 14px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 20px 1px #b7b7b7;
    min-width: 1024px;
}

header > a,
header > a:visited,
header > .tabs > a,
header > .tabs > a:visited {
    color: white;
    text-decoration: none;
}

header > .logo {
    margin-right: 150px;
}

header > .tabs {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

header > .lk-show-menu {
    margin-left: auto;
    white-space: pre;
}

header > .lk-show-menu > img {
    position: relative;
    top: 3px;
}

.page-main {
    margin: 0 10vw;
    min-width: inherit;
}

.page-content {
    padding-top: 35px;
}

.map {
  background-image: url('../images/map-bg.png');
  background-repeat: no-repeat;
  height: 900px;
  background-size: cover;

  z-index: -1;
  padding: 20px 60px;
}

.breadcrumbs {
    margin-top: 30px;
}

.breadcrumbs > * {
    font-size: 12px;
    color: #818181;
}

.page-banners {
    margin: 20px 0 35px 0;
}

.banners {
    padding: 5px 10vw 5px 10vw;
    min-width: 1024px;
    background-color: #ebebeb;
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.container {
    margin: 0;
    padding: 0;
}

footer {
    margin-top: 120px;
    height: 100px;
    background-color: #333e4b;
    font-size: 12px;
    color: white;
    /*box-shadow: 0px 1px 20px 1px #b7b7b7;*/
    width: 100%;
    min-width: calc(1024px + 20vw);
}

footer a,
footer a:hover,
footer a:visited {
    color: white;
}

footer .info {
    padding: 0 10vw;
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

footer .oferta {
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #0d131b;
}

footer .oferta > a,
footer .oferta > a:hover,
footer .oferta > a:visited {
    color: #a6aaae;
    text-decoration: underline;
}

.block {
    min-width: 200px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.35);
    background-color: white;
    font-weight: 500;
    padding: 20px;
    font-size: 14px;
}

.block ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 10px;
}

.block li {
    margin-bottom: 5px;
}

.block li:last-child {
    margin-bottom: 0;
}

.block ul span {
    color: #818181;
    font-weight: normal;
}

.house-pic {
    width: 360px;
    height: 200px;
}

.block__house-info {
    margin-left: 25px;
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.block__house-pair {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    height: 160px;
    overflow: hidden;
}

.block__house-pair ul {
    display: inline-block;
    margin-right: 100px;
    min-width: 30%;
    max-width: 40%;
    vertical-align: top;
}


.block__sales {
    padding: 0;
}

.sale {
    display: flex;
    flex-wrap: nowrap;
}

.block__sales .sale {
    padding: 20px;
    min-height: 120px;
    justify-content: space-between;
}

.block__sales .sale:nth-child(2n) {
    background-color: #f7f4f4;
}

.sale-left {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sale-right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    text-align: right;
}


.sale__date,
.news__date,
.news__h,
.sale__h,
.sale ul {
    margin: 0;
}

.sale ul li { white-space: nowrap;}

.sale__info {
    max-width: 580px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sale__h{
    margin-bottom: 5px;
}

.sale__cost {
    margin: 0;
    font-size: 21px;
    white-space: nowrap;
}

.sale__owner {
    color: #818181;
    font-weight: normal;
    margin: 0 0 5px 0;
}

.sale__view,
.sale__view:hover,
.sale__view:visited {
    font-weight: 400;
    color: #5b86e7;
    text-decoration: underline;
}

.sale__date, .news__date {
    color: #818181;
    font-weight: 400;
}

.news {
    padding: 15px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #e1e1e1;
}
.news:first-child { padding-top: 0;}
.news:last-child { padding-bottom: 0; border: 0;}

.sale__housepic {
    display: inline-flex;
    margin: 20px 0 0 20px;
    background-image: url('../images/house.png');
    background-repeat: no-repeat;
    height: 100px;
    width: 180px;
    background-size: contain;
}




.goods {
    justify-content: space-between;
    padding: 0 40px;
    margin: 80px 0 40px 0;
}

.goods__item {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    max-width: 225px;
}

.goods__item h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.filter {
    width: 340px;
}

.filter__block {
    padding: 12px 0;
}

.filter__section {
    padding: 12px;
    border-bottom: 1px solid #d7d7d7;
}
.filter__section:first-child {
    padding-top: 0;
}
.filter__section:last-child {
    padding-bottom: 0;
    border: none;
}

.filter__h {
    font-size: 12px;
    font-weight: 400;
    color: #818181;
    position: relative;
    bottom: 5px;
}


.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
    font-family: firasans;
    background-color: #cdf501;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: none;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.35);
    min-height: 35px;
    min-width: 35px;
    font-weight: 400;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: top;
}

.ui-button-filter > img {
    position: relative;
    top: 4px;
}

.ui-button > span {
    position: relative;
    top: 2px;
}

.ui-button-clear {
    background-color: white;
    margin-right: 0!important;
    float: right;
}

.ui-checked {
    background-image: url('../images/ui-bg.png');
}

.ui-radio, .ui-input-range {
    display: flex;
    white-space: nowrap;
    justify-content: space-around;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    overflow: hidden;
}
.ui-radio label {
    font-weight: 400;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    border-right: 1px solid #d7d7d7;
    box-sizing: border-box;
    padding: 5px 15px;
    user-select: none;
}
.ui-radio label:last-child {
    border: none;
}

.ui-radio input,
.ui-checkbox input {
    display: none;
}

.ui-radio input[type=radio]:checked + label {
    background-image: url('../images/ui-bg.png');
}


.ui-input-range {
    justify-content: space-between;
    border: none;
    margin-bottom: 15px;
}

.ui-input-range input {
    height: 32px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    width: 25%;
    color: #cccccc;
    padding: 0 10px;
}
.ui-input-range input::selection {
    background-color: #cccccc;
    color: white;
}

.ui-slider {
    margin: 10px 5px;
    right: 2px;
}

.ui-checkbox {
    border: none;
    font-weight: 400;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.ui-checkbox label {
    padding-left: 4px;
    cursor: pointer;
    display: flex;
    position: relative;
    user-select: none;
    color: #818181;
    white-space: nowrap;
    width: 46%;
}

.ui-checkbox label::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    background-color: white;
    top: 4px;
    right: 4px;
}

.ui-checkbox input:checked + label::after {
    content: "";
    background-image: url('../images/checkbox.png');
    display: inline-block;
    width: 18px;
    height: 14px;
    position: absolute;
    top: 3px;
    left: 1px;
}



.unselect {
    user-select: none;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.marg-t {
    margin-top: 20px;
}

.big-marg-t {
    margin-top: 35px;
}

.marg-r {
    margin-right: 25px;
}

.big-marg-r {
    margin-right: 40px;
}

.small-marg-t {
    margin-top: 8px;
}

.f16 {
    font-size: 16px;
}

.hidden {
    display: none;
}
