@import "/css/fonts.css";
@import "/css/scrollbar.css";

body {
    margin: 0;
    font-family: firasans;
    font-weight: 400;
    font-style: normal;
    background-color: #fdfdfd;
}

h3 {
    margin-top: 30px;
    font-size: 18px;
}

h4 {
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 30px;
}

header {
    padding: 5px 200px 5px 200px;
    background-color: #333e4b;
    color: white;
    font-size: 14px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 20px 1px #b7b7b7;
    min-width: 1024px;
}

header > a,
header > a:visited,
header > .tabs > a,
header > .tabs > a:visited {
    color: white;
    text-decoration: none;
}

header > .logo {
    margin-right: 150px;
}

header > .tabs {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

header > .lk-show-menu {
    margin-left: auto;
    white-space: pre;
}

main > section {
    margin-left: 200px;
    margin-right: 200px;
}

.breadcrumbs {
    margin-top: 30px;
}

.breadcrumbs > * {
    font-size: 12px;
    color: #818181;
}

main > .banners {
    margin: 20px 0 35px 0;
    padding: 5px 200px 5px 200px;
    min-width: 1024px;
    background-color: #ebebeb;
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.container {
    margin: 0;
    padding: 0;
}

footer {
    margin: 120px 0 0 0;
    padding: 5px 200px 5px 200px;
    background-color: #333e4b;
    color: white;
    font-size: 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0px 1px 20px 1px #b7b7b7;
    min-width: 1024px;
}

footer a,
footer a:hover,
footer a:visited {
    color: white;
}

.oferta {
    padding: 5px 200px 5px 200px;
    min-width: 1024px;
    background-color: #0d131b;
    color: #a6aaae;
    font-size: 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.oferta > a,
.oferta > a:hover,
.oferta > a:visited {
    color: #a6aaae;
    text-decoration: underline;
}

.block {
    min-width: 200px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.35);
    background-color: white;
    font-weight: 500;
    padding: 20px;
    font-size: 14px;
}

.block ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 10px;
}

.block li {
    margin-bottom: 5px;
}

.block li:last-child {
    margin-bottom: 0;
}

.block ul span {
    color: #818181;
    font-weight: normal;
}

.house-pic {
    width: 360px;
    height: 200px;
}

.block__house-info {
    margin-left: 25px;
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.block__house-pair {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.block__house-pair ul {

}











.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.marg-t {
    margin-top: 20px;
}

.big-marg-t {
    margin-top: 35px;
}

.marg-r {
    margin-right: 25px;
}

.big-marg-r {
    margin-right: 40px;
}

.small-marg-t {
    margin-top: 8px;
}

.f16 {
    font-size: 16px;
}

.hidden {
    display: none;
}
