/* https://codepen.io/THEORLAN2/pen/Kaewmw */

.icon_select_mate {
    position: absolute;
    top: 8px;
    right: 2%;
    font-size: 16px;
    height: 22px;
    transition: all 120ms;
    cursor: pointer;
}

.select_mate {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    min-width: 210px;
    height: 35px;
    color: #777;
    font-weight: 300;
    background-color: #fff;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    transition: all 220ms ease-in-out;
    font-weight: 400;
    font-size: 13.3333px;
}

.select_mate > select {
    position: absolute;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    z-index: -1;
}

.cont_list_select_mate {
    position: relative;
    float: left;
    width: 100%;
    font-weight: inherit;
    font-size: inherit;
}

.cont_select_int {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    transition: all 220ms ease-in-out;
}

.cont_select_int > li {
    position: relative;
    float: left;
    width: 100%;
    background-color: #fff;
    list-style-type: none;
    padding: 9px 5% 5px 5%;
    margin: 0px;
    transition: all 220ms ease-in-out;
    display: block;
    cursor:pointer;
}

.cont_select_int > li:last-child {
    border-radius: 3px;
    border-bottom:0px;
}

.cont_select_int > li:hover {
    background-color: #EEEEEE;
}

.cont_select_int.active {
    background-color: #EEEEEE;
}

/* etiqueta <p> con la opcion selecionada  */
.selecionado_opcion {
   padding: 9px 5% 5px 5%;
   display: block;
   margin: 0px;
   cursor: pointer;
}
